.main {
    background-color: rgb(40, 40, 40);
    color: white;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 50px;

    .left {
        margin-left: 25px;
        max-width: 650px;
        align-self: start;
    }

    .right {
        margin-right: 25px;
        max-width: 650px;
        align-self: end;
    }
}